# Lab 4 Data Science
## Minería de textos.
---
1. Jorge Perez - 18364
2. Diego Ruiz - 18761

In [1]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
import sklearn.cluster as cluster
import sklearn.metrics as metrics
import sklearn.preprocessing
import scipy.cluster.hierarchy as sch
import skfuzzy as fuzz
import numpy as np
import pylab
import sklearn.mixture as mixture
import random
from itertools import permutations
from seaborn import heatmap, countplot

In [4]:
dataTrain = pd.read_csv('data/train.csv')
dataTest = pd.read_csv('data/test.csv')

dataTrain

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [5]:
def toLower(arr):
    return [i.lower() for i in arr]

for i in dataTrain:
    i.columns = toLower(i.columns)

for i in range(len(dataTrain)):
    print((i+10), list(dataTrain[i].columns))
    print(" ")

AttributeError: 'str' object has no attribute 'columns'